* {
  line-height: 1.6
}

body {
  max-width: 600;
  margin: 1rem auto;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #fffbf5;
  padding: 0 1rem;
}

a, a:active, a:visited {
  color: blue;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 2.5rem;
  color: #ff1515;
}

h2 {
  font-size: 1.7rem;
}

h4 {
  background: #f6b45d;
  padding: 0.3rem 0.5rem;
  display: table;
}

p {
  font-size: 1.2rem;
}

img {
  width: 100%;
  margin-bottom: 3rem;
}

img.small-img {
  margin: 0 auto;
  display: block;
}

.underline {
  text-decoration: underline;
  
}

.tweets {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}